@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model List<Vehicle>

@foreach (var item in Model)
{
    <div>
        <p>@Html.DisplayFor(m => item.Specs)</p>
    </div>
}